* {
  padding: 0;
  margin: 0;
  background: #000;
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
.box {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.box-inside img {
  margin-top: 25px;
  width: 300px;
  border-radius: 20px;
  border: 5px solid white;
}
h1 {
  color: rgb(255, 230, 0);
}
